@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.containerStyled {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  & > li {
    background-color: rgb(33, 33, 33, 0.4);
    color: #ffffff;
  }

  & > li:hover,
  & > li:focus {
    transform: scale(1.2);
  }

  .disabledButtonStyled {
    background-color: rgb(233, 4, 24, 0.4);
  }

  .activePageStyled {
    background-color: rgb(233, 4, 24);
  }

  & a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      min-width: 30px;
      min-height: 30px;
    }
  }
}
